<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css"
      rel="stylesheet"
      type="text/css"
  >
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <main class="bg-blue-200 min-h-screen">
    <div class="bg-stone-900 p-6">
        <nav class="text-2xl space-x-4">
            <a href="/">Home</a>
            <a href="{{#if loggedIn}}/dashboard{{else}}/login{{/if}}">Dashboard</a>
            {{#if loggedIn}}
              <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
              <a href="/login">Login</a>
            {{/if}}
        </nav>

        <header>
            <h1 class="text-5xl bg-blue-200 text-stone-900 inline-block rounded p-2 mt-8 mb-8 shadow-xl shadow-gray-100 transform translate-x-6">{{#if loggedIn}}{{#if isHomePage}}The Tech Blog{{else}}Dashboard{{/if}}{{else}}The Tech Blog{{/if}} </h1>
        </header>
    </div>
    
    {{{ body }}}

    </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="/js/logout.js"></script>
</body>

</html>